# Python
*.pyc
__pycache__/

# Исключаем виртуальные окружения
/venv/
/.env
/.venv

# Исключаем конфигурационные и секретные файлы
*.env
*.ini
*.cfg

# Исключаем базу данных (если используете SQLite)
/db.sqlite3

# Исключаем файлы логов
*.log

# Исключаем временные файлы и директории
/tmp
*.tmp

# Django: Исключаем директории со статическими и медиа файлами
/static/
/staticfiles/
/media/

# Исключаем папки, которые явно не должны отслеживаться
/1_node_modules/
/1_static/

# Исключаем миграции (если не хотите их отслеживать)
**/migrations/

# Исключаем файлы IDE и редакторов
.vscode/
.idea/
*.swp

# Исключаем файлы и папки системы (Mac, Linux)
.DS_Store
*.bak
.svn/
.hg/
