<aside class="col-lg-4">
    <!-- Поиск -->
    <div class="widget">
        <h5 class="widget-title"><span>Поиск</span></h5>
        <form action="{% url 'search' %}" class="widget-search" method="get">
            <input id="search-query" name="q" type="search" placeholder="Что найти?">
            <button type="submit"><i class="ti-search"></i></button>
        </form>
    </div>

    <!-- Категории статей -->
    <div class="widget">
        <h5 class="widget-title"><span>Категории статей</span></h5>
        <ul class="list-unstyled widget-list">
            {% for category in categories %}
            <li>
                <a href="{% url 'article_category_detail' category.slug %}" class="d-flex">
                    {{ category.name }}
                    <small class="ml-auto">({{ category.article_post_count }})</small>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Теги статей -->
    <div class="widget">
        <h5 class="widget-title"><span>Теги статей</span></h5>
        <div class="tags-wrapper">
            <ul class="list-inline widget-list-inline">
                {% for tag in tags|slice:":10" %}
                <li class="list-inline-item">
                    <a href="{% url 'article_tagged' tag.slug %}">{{ tag.name }} 
                        <small>({{ tag.article_post_count }})</small>
                    </a>
                </li>
                {% endfor %}
                {% if tags|length > 10 %}
                <div class="collapse" id="collapseTags">
                    <ul class="list-inline widget-list-inline">
                        {% for tag in tags|slice:"10:" %}
                        <li class="list-inline-item">
                            <a href="{% url 'article_tagged' tag.slug %}">{{ tag.name }} 
                                <small>({{ tag.article_post_count }})</small>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </ul>
            {% if tags|length > 10 %}
            <a class="btn btn-link show-more-button" data-toggle="collapse" href="#collapseTags" 
               role="button" aria-expanded="false" aria-controls="collapseTags">
                Показать еще
            </a>
            {% endif %}
        </div>
    </div>
</aside>
