   {% load static %}
   <footer class="section-sm pb-0 border-top border-default">
      <div class="container">
         <div class="row justify-content-between">
            <div class="col-md-3 mb-4">
               <a class="mb-4 d-block" href="/">
                  <img class="img-fluid" width="150px" src="{% static 'images/logo.png' %}" alt="LogBook">
               </a>
               <p>Мы ваш надежный помощник в заказе курсовых работ. Мы предлагаем широкий выбор академических услуг от проверенных специалистов.</p>
            </div>

            <div class="col-lg-2 col-md-3 col-6 mb-4">
               <h6 class="mb-4">Сайт агрегатор курсовых</h6>
               <ul class="list-unstyled footer-list">
                  <li><a href="/page/o-nas/">О нас</a></li>
                  <li><a href="#">Как оформить работу</a></li>
                  <li><a href="/page/kak-oplatit/">Как оплатить</a></li>
                  <li><a href="/page/polzovatelskoe-soglashenie/">Пользовательское соглашение</a></li>
               </ul>
            </div>

            <div class="col-lg-2 col-md-3 col-6 mb-4">
               <h6 class="mb-4">ПОМОЩЬ И КОНСУЛЬТАЦИИ</h6>
               <ul class="list-unstyled footer-list">
                  <li><a href="#">Узнать стоимость работ</a></li>
<!--                   <li><a href="#">Бесплатные работы</a></li>
 -->                  <li><a href="/article_category/">База знаний</a></li>
               </ul>
            </div>

            <div class="col-md-3 mb-4">
               {% comment %} <h6 class="mb-4">Обратная связь</h6>
               <form class="subscription" action="javascript:void(0)" method="post">
                  <div class="position-relative">
                     <i class="ti-email email-icon"></i>
                     <input type="email" class="form-control" placeholder="Ваш Email адрес">
                  </div>
                  <button class="btn btn-primary btn-block rounded" type="submit">Отправить</button>
               </form> {% endcomment %}
            </div>
         </div>
         <div class="scroll-top">
            <a href="javascript:void(0);" id="scrollTop"><i class="ti-angle-up"></i></a>
         </div>
         <div class="text-center">
            <p class="content">&copy; <span id="currentYear"></span> - Сайт агрегатор курсовых</p>
         </div>
      </div>
   </footer>
   <script>
    console.log("Скрипт работает на странице категории");
</script>

    {% include 'includes/scripts_includes.html' %}