{% extends 'includes/header.html' %}
{% load custom_filters %}
{% block title %}Вкомфорте - Каталог готовых студенческих работ — В банке {{ total_posts }} работ с уникальностью от 85% - Отзывы: 4,5{% endblock %}
{% block description %}Более {{ total_posts }} тысяч рефератов, курсовых, дипломных и контрольных работ по различным дисциплинам: история, психология, экономика, менеджмент, философия, право и многое другое. Отзывы: 4,5, высокая уникальность и возможность доработать по вашим запросам{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                {% for post in page_obj %}
                <article class="row mb-5">
                    <div class="col-md-12">
                        <h3 class="h5"><a class="post-title" href="{% url 'post_detail' post.slug %}">{{ post.h1 }}</a></h3>
                        <ul class="list-inline post-meta mb-2">
                            <li class="list-inline-item">{{ post.created_at|localize_date }}</li>
                            <li class="list-inline-item"><a href="{% url 'category_detail' post.category.slug %}" class="ml-1">{{ post.category.name }}</a></li>
                            <li class="list-inline-item">Теги:
                                {% for tag in post.tags.all %}
                                    <a href="{% url 'tagged' tag.slug %}" class="ml-1">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                        <p>{{ post.processed_content }}</p>
                    </div>
                </article>
                {% endfor %}
                {% include "includes/pagination.html" with page_obj=page_obj %}
            </div>
            {% include 'includes/_sidebar.html' %}
        </div>
    </div>
</section>
{% endblock %}
{% include 'includes/footer.html' %}